<h2>My Pockemeon</h2>
<!-- <form (ngSubmit)="onSubmit(f)" #f="ngForm"> -->
      <input [(ngModel)]="test"  >
    <!-- like -->
    <select [(ngModel)]="selected" >
        <option *ngFor="let item of pockemons|filterPokemonPipe:'name':test" [ngValue]="item" >{{item.name}}</option>
    </select>
    <!-- <button class="btn btn-primary" type="submit">Enregistrer</button> -->
    <button (click)=" selectPockemon(selected)">text</button>
    <h3>Pokemons list </h3>
    <app-affiche-infos *ngIf="pokemon"  [pokemon]="pokemon"></app-affiche-infos>

    <div class="flexbox-parent">
      <div layout="row" layout-align="center center" style="min-height: 500px">
       <div flex="15">First line</div>
       <div flex="15">Second line</div>
      </div>
    </div>






    